2024-10-02 23:55:21,802 - INFO - __main__ - <module>:47 - Program started
2024-10-02 23:55:21,803 - INFO - data_processing.processor - process_data:8 - Pre-processing data
2024-10-02 23:55:21,804 - INFO - data_processing.processor - process_data:10 - Data pre-processing complete
2024-10-02 23:55:21,804 - INFO - model_training.trainer - train:8 - Training model
2024-10-02 23:55:21,805 - INFO - model_training.trainer - train:10 - Model training complete
2024-10-02 23:55:21,805 - INFO - __main__ - main_process_data:38 - Main Pre-processing data
2024-10-02 23:55:21,805 - INFO - __main__ - main_process_data:40 - Main Data pre-processing complete
2024-10-02 23:55:21,817 - INFO - __main__ - <module>:51 - Program finished
